.fontblock {
    display: flex;
    position: relative;
    //overflow:hidden;
    &__body {
        //margin-right: 3rem;
        width: 100%;
    }
    &__headline {

    }
    &__form {
        legend {
            font-weight: 300;
            font-size: 1.25rem;
        }
        label {
            font-size: .875rem;
        }
    }
    &__menu {
        width: 340px;
        transform: translateX(0);
        opacity: 1;
        transition: transform .55s ease-in-out, opacity .55s ease-in-out;
        position: absolute;
        top: 0;
        right: 0;
        //bottom: 0;
        background: rgba(255,255,255, .92);
        //height: 100%;
        box-shadow: 3px 0px 15px 0px rgba(0, 0, 0, 0.54);
    }
    &__nav {
        padding: 2.5rem;
    }
}

.font {
    word-break: break-all;
    word-wrap: break-word;
    padding: 1.5rem;
    &-primary {
        // default font size
        font-size: 1rem;
    }
    &-secondary {

    }
}
input[type="range"] {
    border:none;
    padding: 0;
    background: none;
    &:focus {
        outline: none;
        background: none;
    }
}
.form-control[type="text"] {
    background: none;
}
.form-control:focus {
    box-shadow: none;
    border-color: inherit;
}

.custom-textarea {
    font-size: .875rem;
    outline: 0;
    border: 1px solid  $c-light-gray;
    padding: 10px;
    resize: none;
    width: 100%;
    overflow-y: hidden;
    &:focus {
        outline: none;
    }
}
.input-group-color {
    .form-control {
        height: 50px;
        border-width: 0;
        padding: 0;
    }
}
.color-box {
    display: block;
    margin-left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $c-default;
    box-shadow: 0 2px 3px #ccc;
    transition: background-color .65s ease;
}

.is-open {
    .fontblock__menu {
        // + 30px is to account for box-shadow!
        transform: translateX(calc(100% + 30px));
        opacity: 0;
    }
   
}
.burger {
    outline: 0;
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 1;

    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    &:focus {
        outline: none;
    }
    &.is-active {
        .burger-inner {
            transition-delay: .12s;
            transition-timing-function: cubic-bezier(.215,.61,.355,1);
            transform: rotate(45deg);
            &::before {
                top: 0;
                transition: top 75ms ease,opacity 75ms ease .12s;
                opacity: 0;
            }
            &:after {
                bottom: 0;
                transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
                transform: rotate(-90deg);
            }
        }
    }
    .burger-box {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 24px;
    }
    .burger-inner {
        &::before, &::after {
            display: block;
            content:"";
        }
        &, &::before, &::after {
            position: absolute;
            width: 100%;
            height: 3px;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform;
            border-radius: 4px;
            background-color: $c-default;
        }   
        &::before {
            content:"";
            top: -10px;
            transition: top 75ms ease .12s,opacity 75ms ease;
        }
        &::after {
            content:"";
            bottom: -10px;
            transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
        }
    }
    
}
fieldset {
    padding: 0;
    margin: 0;
    & + fieldset {
        margin-top: 2rem;
    }
}

$track-w: 16em;
$track-h: .15em;
$thumb-d: 1em;
$track-c: $c-default;
$dist: $track-w - $thumb-d;

@mixin track() {
	box-sizing: border-box;
	border: none;
	width: $track-w; height: $track-h;
	background: $track-c;
}

@mixin thumb() {
	box-sizing: border-box;
	border: none;
	width: $thumb-d; height: $thumb-d;
	border-radius: 50%;
	background: #008cff;
}


[type='range'] {
	&, &::-webkit-slider-thumb {
		-webkit-appearance: none
	}
	
	flex: 1;
	margin: 0;
	padding: 0;
	min-height: $thumb-d;
	background: transparent;
	font: inherit;
	
	&::-webkit-slider-runnable-track {
		@include track()
	}
	&::-moz-range-track { @include track }
	&::-ms-track { @include track }
	
	&::-webkit-slider-thumb {
		margin-top: .5*($track-h - $thumb-d);
		@include thumb
	}
	&::-moz-range-thumb { @include thumb }
	&::-ms-thumb {
		margin-top: 0;
		@include thumb
	}
	
	&::-ms-tooltip { display: none }
	
	~ output {
		display: none;
		
		.js & {
			display: block;
			position: absolute;
			left: .5*$thumb-d; top: 0;
			padding: .25em .5em;
			border-radius: 3px;
			transform: translate(calc((var(--val) - var(--min))/(var(--max) - var(--min))*#{$dist} - 50%));
			background: #95a;
			color: #eee;
		}
	}
}